.message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
}

.message.left .avatar {
    background-color: #f5886e;
    float: left;
    cursor: help;
}

.message.left .text_wrapper {
    background-color: #ffe6cb;
    margin-left: 20px;
}

.message.left .text_wrapper::after,
.message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #ffe6cb;
}

.message.left .text {
    color: #c48843;
}

.message.right .avatar {
    background-color: #fdbf68;
    float: right;
}

.message.right .text_wrapper {
    background-color: #c7eafc;
    margin-right: 20px;
    float: right;
}

.message.right .text_wrapper::after,
.message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #c7eafc;
}

.message.right .text {
    color: #45829b;
}

.message.appeared {
    opacity: 1;
}

.message .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
}

.message .text_wrapper {
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative;
}

.message .text_wrapper::after,
.message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0px;
}

.message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
}

.message .text_wrapper .text {
    font-size: 18px;
    font-weight: 300;
}

.date {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #c48843;
    font-size: 12px;
}

.date-yourself {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #7a909b;
    font-size: 12px;
}

.edit {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #7a909b;
}

.remove {
    position: absolute;
    right: 35px;
    bottom: 5px;
    color: #7a909b;
}

.liked {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #c44343;
}

.not-liked {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #c48843;
}

.edited {
    border-bottom: 1px solid #c3c3c3;
}

.edited:hover {
    cursor: help;
}
